*{
    margin: 0px;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Helvetica;
} /* กำหนด ขอบทั่วไป 0= ไม่มีขอบ*/

/* ----- NavigationBar เมนู-----   */
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10; 
    padding: 50px 16px; 

    
}
.navbar-brand b{
    height: 110px;
    color: #3e3e3e;
    font-size: 48px;

}
.navbar-nav li{
    padding: 0 10px;
}
/*nav-nav เรียกใช้จากboostarp กำหนดความกว้างระหว่างเมนู */
.navbar-nav li a{
    float: right;
    text-align: left;
}
.navbar{
    background-color: white;
}
/*ตั้งค่าสี ขอบของเมนู */
.navbar-toggler{
    border: none!important;
}/*ตั้งค่าสีขอบเมนูไม่มีขอบ */
.nav-link{
    color: black!important;
    font-weight: 600;
    font-size: 16px;
}
/*<!--จบการทำเมนู-->*/
.box{
    position: fixed;
    width: 900px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 50px 50px 75px 100px;
    margin-top: 100px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    text-align: left;
}
.box h1{
   
    font-size: 82px;
    color:#2f2f2f;
}
.box p{
    font-size: 36px;
    color:#ababab;
}
.img-right{
    text-align: right;
    padding: 50px 50px 75px 100px;

}




 
/* css ซ้อนทับ ชิดขอบด้านขวา */
.inner_position_right{
	
	display:block;	
	background-color:#FFFF99;	
	height:100%;/* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
	width:50px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ */
	top:0px; /* css กำหนดชิดด้านบน  */
	right:0px; /* css กำหนดชิดขวา  */
	z-index:999;
}
.box-img{
    position:absolute;
}
